.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}
ion-title{
    color:blue;
}

// ion-tab-button{
//     background-color:blue;
// }

ion-toolbar{
    background-color:grey;
}