<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bonjour tout le monde</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cédric </ion-card-title>
      <ion-card-subtitle>Inge</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <div class="wrapper">
    <b>Click on a shape to see the ripple</b>
  
    <div class="ion-activatable ripple-parent rectangle">
      <ion-ripple-effect>Good</ion-ripple-effect>
    </div>
  
    <div class="ion-activatable ripple-parent rounded-rectangle">
      <ion-ripple-effect>Bad</ion-ripple-effect>
    </div>
  
    <div class="ion-activatable ripple-parent circle">
      <ion-ripple-effect>X</ion-ripple-effect>
    </div>
  </div>
</ion-content>
